---
layout: default
title: About
background-color: white
---

<div class="container">
	<h1 style="text-align: center;">Who We Are</h1>
	<p style="text-align: center;">We are passionate. We are experienced. We truly believe in the power of music to
	transform lives. We work as a team, drawing from our diverse clinical and academic
	backgrounds, because caring for clients and supporting their families and caregivers is
	our top priority. It is our joy to work where art and science meet and we are honored
	that so many families trust us to care for their loved ones.</p>
</div>

<div class="top-bio">
	<div class="container bio">
		<div class="container-fluid">
			<div class="row">
				<div class="container-fluid d-flex flex-nowrap">
					<div class="col-3 d-none d-lg-block">
						<img class="border-image main-bio-pic" src="images/Therapists/Meredith.jpg" alt="">
					</div>
					<div class="col">
						<h2>Meredith Hamons, MT-BC</h2>
						<h3 class="main-title">Founder and Clinical Director</h3>
						<div class="d-lg-none d-flex justify-content-center w-100">
							<img class="border-image main-bio-pic" src="images/Therapists/Meredith.jpg" alt="">
						</div>
						<ul>
							<li>Founded North Austin Music Therapy in September, 2010</li>
							<li>Author of <i>Musically Engaged Seniors</i>, published 2013</li>
							<li>Co-Author of <i>Music, Memory, and Meaning</i>, published 2017</li>
							<li>Course Instructor at MusicTherapyEd.com</li>
							<li>Over Ten Years of Clinical Experience</li>
							<li>Additional Training in Neurologic Music Therapy</li>
							<li>Speaks Regularly at State, Regional, and National Professional Conferences</li>
						</ul>
						{% include expandButton.html link='meredith-bio' text='Read the full bio here.' shown='true' %}
						<div id="meredith-bio" class="bio collapse">
							<p>A board-certified music therapist, Meredith uses her broad-based clinical training to create
							effective, customized treatment approaches, both in individual therapy and group programming. Her
							ability to connect with clients and to apply her knowledge of diverse models of music therapy through
							creative and engaging interventions is the hallmark of her clinical work.</p>

							<p>Though Meredith started in music at the age of five studying classical piano under the direction
							of her mother, she was more intrigued and motivated by the power of music to move people and touch
							lives. Seeking a field that combined her love of people and her love for music, Meredith pursued a
							degree in music therapy at Duquesne University in Pittsburgh, Pennsylvania on a full tuition academic
							scholarship.</p>

							<p>After graduating summa cum laude, Meredith relocated to Austin, Texas and completed her
							training at the San Antonio State Hospital as a music therapy intern, before receiving her board
							certification in early 2008. Meredith received additional training in neurologic music therapy (NMT)
							from the Center for Biomedical Research in Music at Colorado State University in 2011.</p>

							<p>With a commitment to compassion and excellence, Meredith founded North Austin Music
							Therapy in 2010 to expand possibilities for children to seniors through the power of music. She has
							extensive experience in providing on-going individual treatment to diverse clients of all ages and
							facilitating both large and small groups. She also created and developed the Musically Engaged Seniors
							program, a unique music therapy-based program for older adults. In addition to designing and
							implementing effective treatment plans in meeting a wide range of cognitive, emotional, and physical
							needs, Meredith is experienced in creating customized treatment approaches based in the behavioral,
							neurological, improvisational, and psycho-social therapeutic models.</p>

							<p>In addition to her clinical work, Meredith is also gaining recognition as a presenter and recent
							engagements include the National Music Therapy Conference in 2009, 2011, 2013, 2014, and 2018, the
							Texas Parent to Parent State Conference in 2010, 2011, and 2014, the Brain Injury Association of Texas
							State Conference in 2011, and the Mensa Regional Conference in 2018. Additionally, she has a course,
							Zero to Full Time: Older Adults, published on musictherapyed.com. Her first book, <i>Musically Engaged
							Seniors</i> was published in 2013 and is now used in music therapy college curriculums. She co-authored
							a second book, <i>Music, Memory and Meaning</i>, which was published in 2017.</p>

							{% include expandButton.html link='meredith-bio' text='Less' %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="mid-bio">
	<div class="container bio">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg">
					<div class="container-fluid">
						<div class="row">
							<div class="col-4 d-none d-lg-block">
								<img class="border-image bio-pic" src="images/Therapists/Tara.jpg" alt="">
							</div>
							<div class="col"> 
								<h3>Tara Jenkins, MT-BC</h3>
								<h4>Senior Staff Music Therapist</h4>

								<div class="d-lg-none d-flex justify-content-center w-100">
									<img class="border-image bio-pic" src="images/Therapists/Tara.jpg" alt="">
								</div>

								<ul>
									<li>Started at North Austin Music Therapy in 2016</li>
									<li>Co-Author of <i>Music, Memory, and Meaning</i>, published 2017</li>
									<li>Over Ten Years of Clinical Experience</li>
								</ul>
								{% include expandButton.html link='tara-bio' text='Read the full bio here.' shown='true' %}
								<div id="tara-bio" class="bio collapse">

								<p>Tara has always had a passion for helping others. At a young age she began playing and listening
								to music with her father and started formal instruction during elementary school. It was Tara’s
								passion for helping others and her love of music that led her to a career in music therapy. As a
								board-certified music therapist, she believes in building meaningful relationships and fostering
								connections through musical experiences.</p>

								<p>Tara continued to develop her skills and received her music therapy degree from Shenandoah
								University in Winchester, VA. While there, she received awards for Music Therapy Professional
								Service and The Music Therapy Scholastic Award. Tara felt strongly about providing quality
								care and services for older adults and went on to complete her internship at Ruxton Health of
								Winchester.</p>

								<p>After passing her board certification exam, Tara accepted a job with Sunrise Senior Living, in
								Bethesda MD. As the activities director she provided group and individual music therapy
								services and led a variety of structured and spontaneous creative activities. She went on to accept
								a full-time music therapy position at a dementia care community in Skyesville, MD. While there,
								Tara had the opportunity to create, develop and implement a multi-sensory music therapy
								program for groups, individuals, and those receiving hospice care. She decided to work closer to
								home and started her own private practice working with older adults both in communities and at
								their homes. During this time Tara presented on music therapy and dementia, supervised both
								observation and practicum students, and spread the word about the benefits of music therapy
								throughout the Washington D.C. area.</p>

								<p>Tara relocated to Austin in 2016 and has enjoyed continuing to share and expand her skills and
								expertise. She has over ten years of clinical experience and has had extensive training in
								Alzheimer’s and dementia care. She co-authored the book, <i>Music, Memory, and Meaning</i>
								published in 2017 and continues to present on music therapy and dementia. 
								Tara is passionate about music therapy, is committed to fostering meaningful relationships, and
								above all loves to engage in shared music experiences with older adults.</p>
								{% include expandButton.html link='tara-bio' text='Less' %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg">
					<div class="container-fluid">
						<div class="row">
							<div class="col-4 d-none d-lg-block">
								<img class="border-image bio-pic" src="images/Therapists/Soon.jpg" alt="">
							</div>
							<div class="col-lg-auto bio-mobile-header"> 
								<h3>Coming Soon!</h3>
								<h4>Staff Music Therapist</h4>
								<div class="d-lg-none d-flex justify-content-center w-100">
									<img class="border-image bio-pic" src="images/Therapists/Soon.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bottom-bio">
	<div class="container bio">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg">
					<div class="container-fluid">
						<div class="row">
							<div class="col-4 d-none d-lg-block">
								<img class="border-image bio-pic" src="images/Therapists/Brandy.jpg" alt="">
							</div>
							<div class="col">
								<h3>Brandy Jenkins, MA, MT-BC</h3>
								<h4>Music Therapist</h4>
								<div class="d-lg-none d-flex justify-content-center w-100">
									<img class="border-image bio-pic" src="images/Therapists/Brandy.jpg" alt="">
								</div>
								<ul>
									<li>Started at North Austin Music Therapy in 2018</li>
									<li>Additional Training in ABA Principles and Neurologic Music Therapy</li>
									<li>Completed Level II Training in the Bonny Method of Guided Imagery and Music</li>
								</ul>
								{% include expandButton.html link='brandy-bio' text='Read the full bio here.' shown='true' %}
								<div id="brandy-bio" class="bio collapse">
									<p>Brandy Jenkins, MA, MT-BC moved to Austin in the Spring of 2018, and currently serves adults
									with IDD, well older adults, and those living with Alzheimer’s disease and dementia. Brandy has
									experience in working with children with varying needs, both in and out of the school setting.
									She also has training in ABA principles and Neurologic Music Therapy (NMT) techniques.
									Additionally, Brandy has completed training for Level II of the Bonny Method of Guided
									Imagery and Music (GIM).</p>

									<p>Brandy graduated from West Texas A&amp;M University (BM – Music Business) in 2008. In 2010,
									she decided to pursue her degree in Music Therapy through the Masters Equivalency program at
									Texas Woman’s University. Brandy has been board certified since 2013 and graduated with her
									Masters in Music Therapy in 2016.</p>

									<p>Though able to employ a variety of techniques, Brandy believes in a humanistic foundation
									through which individuals are supported as a whole and not simply as a diagnosis.</p>
									{% include expandButton.html link='brandy-bio' text='Less' %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg">
					<div class="container-fluid">
						<div class="row">
							<div class="col-4 d-none d-lg-block">
								<img class="border-image bio-pic" src="images/Therapists/Annie.jpg" alt="">
							</div>
							<div class="col bio-mobile-header">
								<h3>Annie Vandervoort, MA, MT-BC</h3>
								<h4>Music Therapist</h4>
								<div class="d-lg-none d-flex justify-content-center w-100">
									<img class="border-image bio-pic" src="images/Therapists/Annie.jpg" alt="">
								</div>
								<ul>
									<li>Started at North Austin Music Therapy in 2016</li>
									<li>Classically Trained Pianist and Adaptive Lesson Specialist</li>
								</ul>
								{% include expandButton.html link='annie-bio' text='Read the full bio here.' shown='true' %}
								<div id="annie-bio" class="bio collapse">
									<p>Annie&#39;s music therapy practice emphasizes a strengths-based approach while also incorporating
									techniques supported by research to assist all of her clients in reaching their goals. Annie’s
									clinical experience with children, adults, and seniors has enabled her to learn from a variety of
									populations, including clients with traumatic brain injuries, autism, and intellectual and
									developmental disabilities. Providing empathic, individualized treatment is fundamental to her
									practice.</p>

									<p>Annie&#39;s journey to music therapy began when, at her father&#39;s urging, she started taking piano
									lessons as a young child. After this initial entrance into the musical realm, she pursued her music
									studies with her own fervor. While studying piano at the University of Texas at Austin, she
									became interested in styles and applications of music beyond classical performance. As a result,
									she took jazz lessons and became involved in the ethnomusicology ensembles. Only after
									completing her undergraduate degree in music from the University of Texas at Austin did she
									discover the world of music therapy from a book by former neurologist Oliver Sacks. In 2014
									she went back to school to receive her master’s equivalency degree in music therapy from Sam
									Houston State University. While there, she gained a strong foundation in both neurologic and
									behavioral music therapy, and conducted research on cultural awareness within the music
									therapy field.</p>

									<p>Annie currently works in Austin and the surrounding areas with children, teens, and adults. She
									received her board-certification in 2016 and completed her graduate coursework in music
									therapy through Sam Houston State University in 2017. Annie hopes to continue to promote
									research and spread knowledge that will benefit more individuals in need and further the growth
									of the music therapy field.</p>
									{% include expandButton.html link='annie-bio' text='Less' %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="container">
		<h1  style="text-align: center;">What We Do</h1>
		<p style="text-align: center;">We are thrilled to provide the highest quality of music therapy and related services in
	both individual and group sessions. We specialize in serving aging adults and those with
	autism, developmental challenges, and neurological diseases or injuries. 
	We create a success-oriented and supportive
	environment to foster growth and enable change, while still challenging clients to expand their functional abilities through customized interventions.
	We are committed to an approach that fuses compassion and excellence, and incorporate a variety of therapeutic approaches
	through innovative groups and creative interventions to best serve our clients.</p>

		<div id="kindWords" class="d-none d-lg-block">
			<h1>Kind Words</h1>
			<div id="kindWordsIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#kindWordsIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#kindWordsIndicators" data-slide-to="1"></li>
					<li data-target="#kindWordsIndicators" data-slide-to="2"></li>
					<li data-target="#kindWordsIndicators" data-slide-to="3"></li>
					<li data-target="#kindWordsIndicators" data-slide-to="4"></li>
					<li data-target="#kindWordsIndicators" data-slide-to="5"></li>
				</ol>
				<div class="carousel-inner text-center">
					<div class="carousel-item active">
						<div class="d-flex h-100 align-items-start justify-content-start active">
							<p>“In Sierra’s most recent wellness checkup, her pediatrician was astounded to see the change in her! We have seen a substantial amount of growth in all areas!!”</p>
						</div>
					</div>
					<div class="carousel-item">
						<div class="d-flex h-100 align-items-start justify-content-start">
							<p>“Initially I was a bit skeptical about music therapy for fear of the unknown. All
			that was trumped after the first consultation. Meredith has an amazing ability of
			making a child completely comfortable while getting toward those goals. She not
			only honed in on the weaknesses, but she also reached in and pulled out her
			strengths!!”</p>
						</div>
					</div>
					<div class="carousel-item">
						<div class="d-flex h-100 align-items-start justify-content-start">
						<p>“It&#39;s no longer blue Monday&#39;s at our house because Mondays are now filled with
			music and laughter with Ms. Meredith. Yes, there are a few &quot;No&#39;s!&quot; from my
			grandson (on the autism spectrum) thrown into the mix, but Meredith handles them
			with humor and skill. Not only am I delighted with what Meredith is
			accomplishing with my grandson, but her patience and positive attitude lift my
			spirits also.”</p>
						</div>
					</div>
					<div class="carousel-item">
						<div class="d-flex h-100 align-items-start justify-content-start">
							<p>“I highly recommend getting music therapy into any activity program. The
			program is so beneficial and the residents love it. It is stimulating and provides
			mental and cognitive exercises without residents even knowing...they think it’s all
			fun!”</p>
						</div>
					</div>
					<div class="carousel-item">
						<div class="d-flex h-100 align-items-start justify-content-start">
							<p>“She is very creative in planning her sessions and provides opportunities for
			residents to share memories, try new things, discover talents, and have FUN! She
			has encouraged several residents to lead the group in a drum circle and it instills
			such confidence in them that they always sit a little bit taller afterwards.”</p>
						</div>
					</div>
					<div class="carousel-item">
						<div class="d-flex h-100 align-items-start justify-content-start">
							<p>“Music Therapy is one of the most popular and powerful programs we have on our
			activities calendar, and we are so thankful.”</p>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#kindWordsIndicators" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#kindWordsIndicators" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>

	<div class="container">
		<h1 style="text-align: center;">Where We Are</h1>
		<p style="text-align: center;">We are proud to serve clients both in-home and in residential communities and day
		programs all across the Greater Austin Area. In addition to our clinical work locally, we
		are thrilled to be able to offer consultative services nationwide. We’ve been published,
		featured on our local news, and speak regularly at conferences and events locally,
		regionally, and nationally.</p>

		<div id="about-bottom-block" class="container-fluid">
			<div class="row">
				<div class="col-lg d-flex flex-column justify-content-center about-where">
					<a href="https://www.amazon.com/Musically-Engaged-Seniors-Session-Resources/dp/0615896286">
						<img class="img-fluid" src="images/About/MusicallyEngagedSeniorsBook.jpg" width="300" alt="Musically Engaged Seniors">
					</a>
				</div>
				<div class="col-lg d-flex flex-column justify-content-center about-where"> 
					<a href="https://www.amazon.com/Music-Memory-Meaning-Effectively-Connect/dp/0999246909">
						<img class="img-fluid" src="images/About/MusicMemoryAndMeaningBook.jpg" width="300" alt="Music, Memory, and Meaning">
					</a>
				</div>
				<div class="col-lg d-flex flex-column justify-content-center about-where">
					<p class="text-center" style="margin-top:35px;"> Featured on KVUE News</p>
					<video style="width: 100%; margin-top:20px;" controls preload=metadata poster="images/About/VideoStill.png">
						<source src="images/About/KVUEStory.mp4" type="video/mp4">
						Sorry, your browser doesn't support embedded videos to see the KVUE Video.
					</video>
				</div>
				<div class="col-lg d-flex flex-column justify-content-center about-where"> 
					<p class="text-center" style="margin-top:15px;">Featured on MusicTherapyED.com </p>
					<a href="https://musictherapyed.com/meredith-hamons-zero-full-time-older-adults/">
						<img style="margin-top:15px;" class="img-fluid" src="images/About/MusicTherapyEd.png" width="300" alt="Music, Memory, and Meaning">
					</a>
				</div>
			</div>
		</div>
	</div>
