---
---

@import colors
@import menu

%default-font
	font-family: "Montserrat"

body
	background-color: $light-blue
	@extend %default-font

.page-header
	position: relative
	height: 21px
	background-color: $deep-blue
	z-index: 1
	box-shadow: 0px 1px 2px

.page-footer-color-sand
	background-color: $sand

.page-footer-color-white
	background-color: $white

#page-footer-start
	background-image: url("images/Common/Bottom.svg")
	background-size: 100%
	background-repeat: no-repeat
	height: 100px

#page-footer-content
	margin-bottom: 50px
	padding: .5rem 1rem

#CallToAction
	text-align: center
	font-size: 36px

#Copyright
	text-align: center
	font-size: 12px

#footer-share-set
	float: right
	padding-right: 40px

%floating-image-template
	border-radius: 50%
	box-shadow: 3px 3px 10px

.floating-image-right
	@extend %floating-image-template
	float: right
	margin-right: 80px

.floating-image-left
	@extend %floating-image-template
	float: left
	margin-left: 70px

.floating-down-half
	margin-top: 330px

.floating-down-twothirds
	margin-top: 640px

.floating-down-full
	margin-top: 1100px

%expand-button-template
	color: $dark-font-green !important
	font-size: 16px
	text-decoration: underline !important

.collapse-button
	@extend %expand-button-template

.expand-button
	@extend %expand-button-template

.expand-button:not(.collapsed)
	display: none

.notes
	object-fit: scale-down

.image-container-middle
	display: flex
	justify-content: center

.image-container-end
	display: flex
	justify-content: flex-end
	overflow: hidden
	padding-right: 0px


@import about
@import home
@import resources
@import services
@import therapy
