---
---

@import colors
@import menu

%default-font
	font-family: "Montserrat"

body
	background-color: $light-blue
	@extend %default-font

h2
	font-size: 2vw
p
	font-size: 1vw

@media (max-width: 1199px) 
	h2
		font-size: 3vw
	p
		font-size: 1.5vw


.page-header
	position: relative
	height: 21px
	background-color: $deep-blue
	z-index: 1
	box-shadow: 0px 1px 2px

.page-footer-color-sand
	background-color: $sand

.page-footer-color-white
	background-color: $white

#page-footer-start
	background-image: url("images/Common/Bottom.svg")
	background-size: 100%
	background-repeat: no-repeat
	height: 40px

#page-footer-content
	margin-top: 40px
	margin-bottom: 50px

#CallToAction
	text-align: center
	font-size: 2.0vw

#Copyright
	text-align: center
	font-size: 12px

.footer-share-set
	float: right
	padding-right: 40px

.round-image
	border-radius: 50%
	box-shadow: 3px 3px 10px

.floating-down-half
	margin-top: 330px

.floating-down-twothirds
	margin-top: 640px

.floating-down-full
	margin-top: 1100px

%expand-button-template
	color: $dark-font-green !important
	text-decoration: underline !important

.collapse-button
	@extend %expand-button-template

.expand-button
	@extend %expand-button-template

.expand-button:not(.collapsed)
	display: none

.notes
	object-fit: scale-down

.image-container-middle
	display: flex
	justify-content: center

.image-container-end
	display: flex
	justify-content: flex-end
	overflow: hidden
	padding-right: 0px

.border-image
	border: 6px solid $white

.left-collapse-image
	min-width: 250px

@media (max-width: 991px) 
	#CallToAction
		font-size: 18px
	#page-footer-content
		margin-top: 30px
		margin-bottom: 10px

	#page-footer-content
		margin-top: 30px
		margin-bottom: 10px

	.navbar
		padding-bottom: 2rem


@import about
@import home
@import resources
@import services
@import therapy
