		<nav class="navbar navbar-expand navbar-light flex-nowrap">
			<div style="flex-basis: 180px">
				<a class="navbar-brand" href="#"><img src="images/Common/Logo.svg" width="180" alt=""></a> 
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar w-100 justify-content-center">
				<div class="navbar-nav mx-auto">
					{%- for item in site.data.menu -%}
					{%- if page.url == item.link -%}
					<div id="active-menu-item" class="nav-item nav-link active" >
						<img src="images/Common/MenuNote.svg" width="16" alt="">
						<a class="nav-item" href="#">{{item.name}}</a>
					</div>
					{%- else -%}
					<a class="nav-item nav-link" href="{{item.link}}">{{item.name}}</a>					
					{%- endif -%}
					{%- if item.name != "Resources" -%}
					<a class="nav-item navbar-text">|</a>
					{%- endif -%}
					{%- endfor -%}	
				</div>
			</div>
			{%- include share.html -%}
		</nav>

