				<div class="share-menu">
					<div class="share-item d-block d-lg-none">
						<a href="tel:512-422-9694"><img src="images/Common/phone-icon.png" width="13" alt="Phone"></a>
					</div>
					<div style="margin-right:6px;" class="share-item d-block d-lg-none">
						<a href="mailto:mhamons@northaustinmusictherapy.com"><img src="images/Common/email-icon.png" width="18" alt="E-mail"></a>
					</div>
					<div class="share-item">
						<a target="_blank" rel="noopener" href="https://www.facebook.com/northaustinmusictherapy/"><img src="images/Common/facebook-icon.png" width="7" alt="Facebook"></a>
					</div>
				</div>
