@import colors

.about-content
	background-color: $white
	padding-top: 30px
	h1
		margin-top: 10px
	h2
		margin-bottom: 0px
	h3
		margin-bottom: 0px
	li 
		margin-top: 10px
	ul
		margin-top: 10px
		padding-left: 10px
		margin-bottom: 10px
	p
		margin-bottom: 0px
	.bio
		p
			margin-bottom: 10px
			

#kindWords
	background-color: $white-sand
	margin-top: 80px
	margin-bottom: 80px
	h1
		text-align: center
		padding-top: 35px
		font-size: 30px
		font-style: italic

.carousel-item
	background-size: cover
	background-position: center center
	height: 180px
	padding-left: 140px
	padding-right: 140px

.top-bio
	margin-top: 40px
	background-color: $dark-sand
	
.mid-bio
	background-color: $white-sand

.bottom-bio
	background-color: $super-white-sand
	margin-bottom: 60px

.bio
	padding: 15px
	padding-top: 25px

#home-bottom-block
	padding-top: 25px

.coming-soon
	width: 145px
	height: 145px
	line-height: 145px
	text-align: center
	background-color: #dddddd
	p
		color: $dark-blue-green
		display: inline-block
		vertical-align: middle
		line-height: normal

.carousel-control-next-icon
	width: 30px
	height: 30px

.carousel-control-prev-icon
	width: 30px
	height: 30px
