@import colors
@import sizes

.about-content
	background-color: $white
	padding-top: 30px
	h1
		margin-top: 10px
	h2
		font-size: 1.5rem
		margin-bottom: 0px
	h3
		font-size: 1.2rem
		margin-bottom: 0px
	h4
		font-size: .9rem
		color: $dark-blue-green
	li 
		margin-top: 6px
		font-size: .9rem
	ul
		margin-top: 10px
		padding-left: 10px
		margin-bottom: 10px
	p
		margin-bottom: 0px
	.bio
		p
			margin-bottom: 10px

.about-where
	background-color: $white-sand
	padding: 15px
	margin-left: 10px
	margin-right: 10px

@media (max-width: $tablet-version)
	.about-where
		background-color: unset
		padding: 0px
		margin-left: 0px
		margin-right: 0px
	.about-content
		h1
			text-align: center
		h2
			text-align: center
		ul
			text-align: center
		h3
			text-align: center
			font-weight: bold
		.read-more-about
			text-align: center
		.main-title
			color: $black
		h4
			color: $black
			font-weight: bold
			text-align: center
		a
			text-align: center
		img
			margin-top: 15px
			margin-bottom: 10px


#kindWords
	background-color: $white-sand
	margin-top: 80px
	margin-bottom: 80px
	h1
		text-align: center
		padding-top: 35px
		padding-bottom: 5px
		font-size: 30px
		font-style: italic

.carousel-item
	background-size: cover
	background-position: center center
	height: 160px
	padding-left: 140px
	padding-right: 140px
	padding-top: 0px

.carousel-indicators
	margin-top: 10px


.top-bio
	padding-top: 10px
	margin-top: 30px
	background-color: $dark-sand
	
.mid-bio
	background-color: $white-sand

.bottom-bio
	background-color: $super-white-sand
	padding-bottom: 30px
	margin-bottom: 30px

#about-bottom-block
	padding-top: 35px
	padding-bottom : 25px

.bio
	padding: 15px
	padding-top: 25px

.bio-pic
	width: 125px
	height: 125px

.main-bio-pic
	width: 200px
	height: 200px


@media (max-width: $tablet-version)
	.bio-mobile-header
		margin-top: 25px
	.bio-pic
		margin-top: 10px
		width: 175px
		height: 175px
	.main-bio-pic
		margin-top: 10px
		width: 175px
		height: 175px

@media (max-width: $mobile-version)
	.about-content
		h2
			text-align: center
	.bio-mobile-header
		margin-top: 25px
	.main-bio-pic
		width: 200px
		height: 200px		
	.bio-pic
		width: 200px
		height: 200px

.carousel-control-next-icon
	width: 30px
	height: 30px
	margin-top: -55px

.carousel-control-prev-icon
	width: 30px
	height: 30px
	margin-top: -55px
