@import colors

#home-header
	width: 100%

#tagline
	font-family: "Montserrat"
	font-style: italic
	background-color: $dark-blue-green
	text-align: center
	padding-top: 6px
	padding-bottom: 6px
	margin-bottom: 0px
	font-size: 26px
	color: $cream

#home-welcome-block
	background-color: $white
	h2
		padding-top: 40px
		text-align: left
		color: $dark-font-green
		font-family: "Montserrat"
		

.welcome-image-container-middle
	display: flex
	justify-content: center

.welcome-image-container-end
	display: flex
	justify-content: flex-end
	overflow: hidden
	padding-right: 0px

#home-notes
	object-fit: scale-down

#home-staff
	opacity: .2
	object-fit: cover

#home-bottom-section
	padding-top: 30px
	padding-left: 15%
	padding-right: 15%
	background-color: $sand
	background-image: url("images/Home/Swirl.png")
	background-size: 100%
	img
		width: 100%

#home-bottom-block .col
	background-color: $white
	margin: 15px
	padding-top: 15px
	padding-bottom: 25px
	margin-bottom: 55px
	background-color: $white-sand
	h2
		color: $dark-font-green
		margin-top: 10px
		margin-bottom: 10px
		font-size: 24px
	a
		color: $dark-font-green
		font-size: 14px
		text-decoration: underline
