@import colors

#home-header
	width: 100%
#home-header-mobile
	width: 100%
	display: none

#tagline
	font-style: italic
	text-align: center
	padding-top: 6px
	padding-bottom: 6px
	margin-bottom: 0px
	letter-spacing: 1px
	color: $cream
	background-color: $dark-blue-green
	li
		font-size: 2vw
		display: inline
		list-style: none

#home-welcome-block
	background-color: $white
	h2
		padding-top: 40px
		text-align: left
		
#home-staff
	opacity: .2
	object-fit: cover

#home-bottom-section
	padding-left: 15%
	padding-right: 15%
	background-color: $sand
	background-image: url("images/Home/Swirl.png")
	background-repeat: no-repeat
	background-position: center
	img
		width: 100%

.home-info-section	
	background-color: $white
	margin: 15px
	padding-top: 15px
	padding-bottom: 25px
	margin-bottom: 55px
	background-color: $white-sand
	h3
		margin-top: 10px
		margin-bottom: 10px
	a
		text-decoration: underline

.left-right-list
	list-style: none
	padding-left: 0px

	li
		padding-top: 15px
		font-style: italic
	li:nth-child(odd)
		text-align: left
	li:nth-child(even)
		text-align: right


@media (max-width: 1199px) 
	#home-welcome-text
		padding-left: 40px
		padding-right: 40px

@media (max-width: 991px) 
	#home-welcome-text
		padding-left: 0px
		padding-right: 0px
	#home-header
		display: none
	#home-header-mobile
		display: block
	#tagline
		font-size: initial
		padding-left: 0px
		li
			font-size: 4vw
			display: block
		h2
			text-align: center
	#home-welcome-block
		h2
			text-align: center
			margin-left: 32px
			margin-right: 32px
	#home-welcome-text
		margin-left: 0px
		margin-right: 0px
	h3
		text-align: center
	h4
		text-align: center
	p
		text-align: center
		margin-left: 32px
		margin-right: 32px
	a
		text-align: center
	.home-info-section
		background-color: unset
		padding-bottom: 0px
		margin-bottom: 0px
	#home-bottom-block
		padding-top: 0px
	#home-bottom-section
		background-color: $white-sand
		background-image: unset
		padding-top: 10px
		padding-left: 0px
		padding-bottom: 20px
		padding-right: 0px
		img
			width: 200px
			display: block
			margin-left: auto
			margin-right: auto
			text-align: center

#home-mobile-title
	display: none
