@import colors

#home-header
	width: 100%
#home-header-mobile
	width: 100%
	display: none

#tagline
	font-style: italic
	text-align: center
	padding-top: 6px
	padding-bottom: 6px
	margin-bottom: 0px
	letter-spacing: 1px
	color: $cream
	background-color: $dark-blue-green
	li
		font-size: 2vw
		display: inline
		list-style: none

#home-welcome-block
	background-color: $white
	h2
		padding-top: 40px
		text-align: left
		
#home-staff
	opacity: .2
	object-fit: cover

#home-bottom-section
	padding-top: 30px
	padding-left: 15%
	padding-right: 15%
	background-color: $sand
	background-image: url("images/Home/Swirl.png")
	background-repeat: no-repeat
	background-position: center
	img
		width: 100%

#home-bottom-block .col
	background-color: $white
	margin: 15px
	padding-top: 15px
	padding-bottom: 25px
	margin-bottom: 55px
	background-color: $white-sand
	h3
		margin-top: 10px
		margin-bottom: 10px
	a
		text-decoration: underline

.left-right-list
	list-style: none
	padding-left: 0px

	li
		padding-top: 15px
		font-style: italic
	li:nth-child(odd)
		text-align: left
	li:nth-child(even)
		text-align: right

@media (max-width: 991px) 
	#home-header
		display: none
	#home-header-mobile
		display: block
	#tagline
		font-size: initial
		li
			font-size: 4vw
			display: block
	#home-welcome-block
		h2
			text-align: center
