@import colors

$menu-font-size: 22px
$menu-small-font-size: 16px

#active-menu-item
	display: flex
	flex-direction: column
	justify-content: flex-end

	a
		color: $white
	img
		margin: auto

%navbar-shared
	display: flex
	flex-direction: column
	justify-content: flex-end
	font-size: $menu-font-size
	font-weight: bold
	color: $black
	a
		font-size: $menu-font-size
	
@media (max-width: 1199px) 
	%navbar-shared
		font-size: $menu-small-font-size
		a
			font-size: $menu-small-font-size

.navbar-light .navbar-nav .nav-link
	@extend %navbar-shared

.navbar-light .navbar-nav .navbar-text
	@extend %navbar-shared
	padding-left: 12px
	padding-right: 12px

@media (max-width: 1199px) 
	.navbar-light .navbar-nav .navbar-text
		padding-left: 4px
		padding-right: 4px

.navbar
	background-color: $light-blue

.share-item
	display: inline
	width: 20px
