.resources-content
	background-color: $white
	padding-top: 30px

	h2
		margin-top: 25px
	h3
		font-style: italic
		margin-bottom: 0px
		margin-top: 25px
	p
		margin-top: 15px
	img
		margin-top: 60px

.resource-menu
	text-align: center
	color: $light-blue
	a
		color: $light-blue
