@import colors
@import sizes

.resources-content
	background-color: $white
	padding-top: 30px

	h2
		margin-top: 25px
		text-align: center
	h3
		font-style: italic
		margin-bottom: 0px
		margin-top: 40px
	p
		margin-top: 15px
		margin-bottom: 0px
	.resource-link
		margin: 0px
	img
		margin-top: 80px
	.resource-section
		margin-top: 20px
		margin-bottom: 60px
	ul
		padding-left: 0px
	li
		font-size: 2.25rem
		display: inline
		list-style: none
		a
			font-size: 2.25rem

.resource-menu
	text-align: center
	color: $light-blue
	a
		color: $light-blue

@media (max-width: $slim-desktop-version)
	.resources-content
		li
			font-size: 1.9rem
			a
				font-size: 1.9rem


@media (max-width: $tablet-version) 
	.resources-content
		padding-left: 40px
		padding-right: 40px
		padding-bottom: 2px
		h2
			text-align: center
		h3
			text-align: center
		p
			text-align: center
		ul
			margin-bottom: 20px
			font-size: 4vw
			a
				font-size: 4vw
		li
			display: block
		img
			margin-top: 0px

@media (max-width: $mobile-version) 
	.resources-content
		padding-bottom: 10px
		padding-left: 15px
		padding-right: 15px
		p
			font-size: 3vw
		a
			font-size: 3vw
		li
			a
				font-size: 5vw
		h2
			font-size: 5vw
			a
				font-size: 5vw
		h3
			font-size: 4vw
		img
			margin-top: 50px
			margin-bottom: 10px
