@import fonts

.resources-content
	background-color: $white
	padding-top: 30px

	h1
		@extend %light-text-template
		a
			@extend %light-text-template
			font-size: 34px
	a
		@extend %dark-text-template
		font-size: 14px
	a:visited
		@extend %dark-text-template

	h2
		@extend %dark-text-template
		margin-top: 25px
		font-size: 26px
	h3
		@extend %default-font
		font-size: 18px
		font-style: italic
		margin-bottom: 0px
		margin-top: 25px
	p
		@extend %default-font
		font-size: 14px
		margin-top: 15px
