@import sizes
@import colors

.therapy-content
	background-color: $white
	padding-top: 30px

.therapy-text-content
	margin-right: 40px

@media (max-width: $slim-desktop-version) 
	h2
		a
			font-size: 1.60rem

@media (max-width: $tablet-version) 
	.therapy-text-content
		margin-left: 40px
		margin-right: 40px
		img
			margin-bottom: 30px
		p
			text-align: left

@media (max-width: $mobile-version) 
	.therapy-text-content
		margin-left: 0px
		margin-right: 0px
	.therapy-content
		padding-left: 15px
		padding-right: 15px
		p
			text-align: center
			font-size: 3vw
		a
			font-size: 3vw
		h2
			text-align: center
			font-size: 4vw
			a
				font-size: 4vw
