.therapy-content
	background-color: $white
	padding-top: 30px

@media (max-width: 1199px) 
	.therapy-content
		h2
			text-align: center
@media (max-width: 991px) 
	.therapy-content
		margin-left: 10px
		margin-right: 10px
		h2
			font-size: 1rem
			a
				font-size: 1rem

