<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="format-detection" content="telephone=no">

		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="style.css">
		<script src="prefixfree.min.js"></script>
		<meta property="og:image" content="https://www.northaustinmusictherapy.com/images/Common/Logo-small.png" />
		<meta property="og:title" content="North Austin Music Therapy" />

		<title>North Austin Music Therapy - {{ page.title }}</title>
	</head>
	<body >
		<div class="page-header"></div>
{%- include menu.html -%}


		{%- if page.skip-header != true -%}
		<img class="d-none d-lg-block" style="width: 100%;" src="images/Common/WaveHeader.png" alt="">
		{%- endif -%}

		<div id="{{page.title | downcase | remove: " "}}-mobile-title" class="mobile-title">{{page.title}}</div>

		<div class="{{ page.title | downcase | remove: ".html" }}-content">
{{ content }}
		
		<div id="page-footer-start" class="d-none d-lg-block page-footer-color-{{page.background-color}}"> </div>
		<!-- content div includes footer start to prevent background color leak in padding -->
		</div>

		<div id="page-footer-content" class="container-fluid">
			<div class="row flex-nowrap">
				<div style="flex-basis: 180px; display: flex;">
				</div>
				<div class="w-100"> 
					<h1 id="CallToAction">Call today for a FREE initial consultation! <a href="tel:512-422-9694">(512)422-9694</a></h1>
					<h1 id="CallToActionEmail">Prefer e-mail? <a href="mailto:mhamons@northaustinmusictherapy.com">mhamons@northaustinmusictherapy.com</a></h1>
					<h4 id="Copyright">Copyright © 2019 North Austin Music Therapy.</h4>
				</div>
				{%- include share.html -%}
			</div>
			</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
